body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

p {
	line-height: 1.6em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.container {
	width: 1171px;
	margin: 0 auto;
}

.header {
	background: rgb(55,143,217);
	background: linear-gradient(307deg, rgba(55,143,217,1) 0%, rgba(77,190,254,1) 100%);
	padding-top: 62px;
	color: #fff;
	padding-bottom: 120px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.title {
	text-align: left;
	font-size: 37px;
}

.title span {
	font-size: 59px;
}

.intro {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 30px;
	width: 400px;
	margin-top: 25px;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	font-size: 15px;
	color: #000; 
	display: block;
	width: 222px;
	height: 56px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #d9b421;
}

.journey {
	margin-top: 64px;
	width: 520px;
	height: 520px;
}

.learn {
	padding-top: 105px;
	padding-bottom: 115px;
}

.section-title {
	font-style: 30px;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-top: 70px;
}

.advantages {
	width: 290px;
}

.advantages-title {
	font-size: 19px;
	margin: 19px;
}

.advantages-text {
	margin-top: 7px;
	font-size: 15px;
}

.questionnaire {
	background: #ecf3f8;
	padding: 100px 0;
	text-align: center;
	display: flex;
}

.questionnaire-title {
	font-size: 30px;
	color: #000;
	margin-bottom: 42px;
}

.input {
	width: 344px;
	height: 47px;
	padding-left: 24px;
	border: 1px solid #bbb;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-form {
	width: 344px;
	height: 47px;
	border: 0;
	padding: 0;
	margin: auto;
	cursor: pointer;
}


.btn-2:hover {
	background: #d9b421;
}

.footer {
	background: #164d7a;
	padding: 55px 0;
	text-align: center;
}

.rights {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	margin: 0;
}

.red {
	color: red;
}

.animated {
	opacity: 0;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: 100%;
	}
	.journey {
		display: block;
		width: 520px;
		margin: 64px auto 0;
	}
	.skills {
		flex-direction: column;
	}
	.advantages {
		width: auto;
		margin-bottom: 30px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.journey {
		width: 300px;
		height: 300px;
		margin: 64px auto 0;
	}
	.input {
		width: 100%;
	}
	.btn {
		width: 100%;
	}
}

/* 200px - 320px */
@media screen and (max-width: 320px) {
	.container {
		width: 90%;
	}
	.journey {
		width: 200px;
		height: 200px;
		margin: 64px auto 0;
	}
	.input {
		width: 100%;
		font-size: 10px;
	}
	.btn {
		width: 100%;
	}
}

